@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  background-color: #eff6e0;
  color: #01161e;
}
